#img-ouragan {
    width: 250px;
    height: 250px;
    background-image: url(../img/ouragan.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    opacity: 0.8;
    margin-bottom: 10px;
    margin-left: 60px;
    transition: all 0.5s ease-out;
}

#img-ouragan:hover {
    scale: 1.05;
}

#img-biodiversite {
    width: 250px;
    height: 250px;
    background-image: url(../img/biodiversite.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    opacity: 0.8;
    margin-bottom: 10px;
    margin-right: 60px;
    transition: all 0.5s ease-out;
}

#img-biodiversite:hover {
    scale: 1.05;
}

#img-sante {
    width: 250px;
    height: 250px;
    background-image: url(../img/impact-sante.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    opacity: 0.8;
    margin-bottom: 10px;
    margin-left: 60px;
    transition: all 0.5s ease-out;
}

#img-sante:hover {
    scale: 1.05;
}

@media screen and (max-width: 950px){
    #img-ouragan, #img-biodiversite, #img-sante{
        margin: auto;
    }
    @media screen and (max-width: 355px){
        #img-ouragan, #img-biodiversite, #img-sante {
            width: 200px;
            height: 200px;
        }
    }
}